/*
Theme Name:   Betheme Child
Theme URI:    https://themes.muffingroup.com/betheme/
Author:       Muffin group
Author URI:   https://muffingroup.com/
Description:  Child theme for Betheme
Template:     betheme
Version:      1.0.0
Text Domain:  betheme-child
*/

/* Import parent theme styles (optional, not needed if enqueued in functions.php) */
